<main class="main--container">
	<app-menu-title></app-menu-title>
	<section class="articles__container">
		<div class="articles__main">
			<app-big-card
				[cardId]="ultimaNoticia.id.toString()"
				[photoCover]="ultimaNoticia.photo"
				[cardTitle]="ultimaNoticia.title"
				[cardDescription]="ultimaNoticia.description"
			></app-big-card>
		</div>
		<div class="articles__others">
			<ul>
				<li *ngFor="let noticia of noticias">
					<app-small-card
						[cardId]="noticia.id.toString()"
						[smallCardPhoto]="noticia.photo"
						[smallCardTitle]="noticia.title"
						[smallCardDesc]="noticia.description"
					>
					</app-small-card>
				</li>
			</ul>
		</div>
	</section>
</main>
